#include "process_enum.hpp"

#include <iostream>


int main()
{
    std::cout
        << "Mifa Win32 Process Enumeration"
        << std::endl;

    std::cout
        << "Build: {{BUILD_ID}}"
        << std::endl;

    std::cout
        << "Architecture: {{ARCH}}"
        << std::endl;

    std::cout
        << std::endl;


    if (!enumerate_processes())
    {
        return 1;
    }


    return 0;
}
