#include <stdio.h>
#include "message.h"

void print_message(void)
{
    printf("Mifa multi-file build\n");
    printf("Build: {{BUILD_ID}}\n");
    printf("Architecture: {{ARCH}}\n");
    printf("Build type: {{BUILD_TYPE}}\n");
}
