#include <iostream>
#include "message.hpp"

void print_message()
{
    std::cout << "Mifa C++ multi-file build" << std::endl;
    std::cout << "Build: {{BUILD_ID}}" << std::endl;
    std::cout << "Architecture: {{ARCH}}" << std::endl;
    std::cout << "Build type: {{BUILD_TYPE}}" << std::endl;
}
