#include "runtime_helper.h"

#include <windows.h>
#include <iostream>

namespace runtime_helper
{
    void print_summary(
        int argc,
        char* argv[]
    )
    {
        std::cout
            << "Process ID   : "
            << GetCurrentProcessId()
            << std::endl;

        std::cout
            << "Thread ID    : "
            << GetCurrentThreadId()
            << std::endl;

        if (argc > 1)
        {
            std::cout
                << "Label        : "
                << argv[1]
                << std::endl;
        }
        else
        {
            std::cout
                << "Label        : <none>"
                << std::endl;
        }
    }
}
